<h1>Welcome to <strong>INDEX</strong> on OKCDEV!</h1>
<nz-divider nzDashed></nz-divider>
<div class="content">
    <h3>我常常想，人是一种很悲剧的动物:</h3>
    <p>当你慢慢懂得了一些事情时，你发现时间其实已经过去一大半了！</p>
    <p>
      我们总是在最美好的年华错过了应该那个年纪懂的一些道理。当我们懂得那个道理的时候，我们已经步入一个新的年龄段。这种滞后与生俱来，基因无法将一些经验传递给下一代，但是可以通过书籍来完成。
    </p>
    <h3>然而更悲剧的是：</h3>
    <p>当前辈用自己的一辈子得到的感悟写成的书告诉我们的道理， 年少轻狂的我们根本不会领悟里面的生命哲学， 一定要自己趟一遍，才能感悟到，噢 ，原来书上写的是对的，该趟的，还是要趟一遍。</p>
    <p>这也有好有坏，因为时间在演进，世界也在变化，但是那些让你担心的事情，没有一件让你失望过：)</p>
    <p>loading...</p>
    <nz-divider nzDashed></nz-divider>
</div>
<div class="tags">
  <div class="tagsTitle">标签</div>
  <nz-tag>知青</nz-tag>
  <nz-tag>键盘侠</nz-tag>
  <nz-tag>二狗子</nz-tag>
</div>
<nz-divider nzDashed></nz-divider>
<div class="team">
    <div class="teamTitle">成员</div>
    <nz-tag>xiaoshuai.xue</nz-tag>
    <nz-tag>zhenfan.li</nz-tag>
</div>
<nz-divider nzDashed></nz-divider>
<div class="team">
  <div class="teamTitle">团队</div>
    <div nz-row nzGutter="36">
      <div nz-col nzLg="24" nzXl="12">
        okcdev.cn, 2019
      </div>
    </div>
</div>
<nz-divider nzDashed></nz-divider>
<div class="alert">
    <h2>Website Administrator</h2>
    <div class="content">
        <p>This page is fixed by xiaoshuai.xue, and if you  have anything want to require, you can contact his email : xiaoshaui.xue@okcdev.cn
        </p>
    </div>
</div>
